.quote {
    margin-top: 11rem;
    color: #1f1d1d;
}

.button {
    background-color: lavender;
    font-size: 0.9rem;
    color: #754C87;
    padding: 0.85rem 2.13rem;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}





// display: flex;
// justify-content: center;
// margin-top: 10rem;
// }

// .test {
// color: rgb(0, 128, 15);
// background-color: black;