.navbar {
    background-color: lavender;
    padding-top: 1px;
    padding-bottom: 1px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}


.links {
    padding: 0.75rem 2rem;
    text-decoration: none;
}